# Frontend
frontend/node_modules
frontend/dist

# Laravel
backend/vendor
backend/storage/logs
backend/bootstrap/cache/*.php
backend/.env

# IDE
.vscode
.idea

# Sistema
.DS_Store
Thumbs.dbfrontend/.env

frontend/.env
